* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Glancyr Regular */
@font-face {
  font-family: "Glancyr";
  src: url("../Fonts/glancyr/glancyr/Glancyr-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Pretendard Medium */
@font-face {
  font-family: "Pretendard";
  src: url("../Fonts/pretendard font/pretendard font/Pretendard-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
p {
  font-family: "Pretendard", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Glancyr", serif;
}

h2 {
  font-weight: 400;
  font-size: 45px;
}

h4 {
  font-size: 35px;
  font-weight: 400;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

button {
  font-size: 18px;
  padding: 13px 50px;
  border: none;
  border-radius: 0px 20px 0px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #1f4489 !important;
  color: #fff !important;
}

/* ------header------ */
.header {
  padding: 0;
  background-color: rgb(248 249 250);
}

.logo {
  width: 150px;
}

.book-btn {
  background-color: #f38620;
  padding: 5px 20px;
  width: 200px;
  border-radius: 0px 20px 0px 20px;
  text-align: center;
}

.navbar-nav {
  align-items: center;
  gap: 25px;
}

.header .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.blue-strip {
  background-color: #7bd6d0;
  padding: 10px;
  text-align: center;
  color: #1a3743;
}

.blue-strip a {
  color: #1a3743;
  text-decoration: none;
}

/*...... banner css .......*/
.hero-banner {
  background-image: url(../images/banner-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0;
  color: #fff;
}

.hero-banner h1 {
  font-size: 50px;
  font-weight: 400;
}

.hero-banner p {
  font-size: 20px;
  padding: 10px 0;
}

.hero-banner button {
  background-color: #7bd6d0;
}

/* -------logo-carousel------ */
.logo-carousel::after,
.location::after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right,
      #612b7b 16.66%,
      #20448a 16.67%,
      #2ea8e3 32.33%,
      #49a949 50%,
      #fdcd1a 60%,
      #f39c12 70.66%,
      #e74c3c 85.7%);
}

.logos {
  overflow: hidden;
  padding: 30px 0px;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  content: "";
  width: 200px;
  height: 100%;
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255));
}

.logo_items {
  display: inline-block;
  animation: 35s slides infinite linear;
}

.logos:hover .logo_items {
  animation-play-state: paused;
}

.logo_items img {
  margin: 0 25px;
  width: 120px;
}

@keyframes slides {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* -------abt-section-------- */
.abt-sec,
.service-section,
.team-section,
.footer,
.testimonials {
  padding: 5% 0;
}

.abt-sec {
  background-image: url(../images/1st-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.abt-sec h4 {
  margin-bottom: 25px;
}

.abt-sec button {
  margin-top: 25px;
  background-color: #f39c12;
}

/* ----------service-section---------- */
.service-section button {
  background-color: #7bd6d0;
  float: right;
}

.service-carousel .item {
  text-align: center;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
}

.service-carousel .item img {
  max-width: 100%;
  height: auto;
  border-radius: 0px 100px 0px 0px;
}

.service-carousel .item p {
  margin-top: 10px;
  font-weight: 500;
  color: #333;
}

.service-carousel .owl-theme .owl-nav.disabled+.owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* -------Location------- */
.location {
  background-image: url(../images/msd-map.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25%;
  color: white;
}

.location .content {
  justify-content: space-between;
  padding-bottom: 10%;
}

.location p {
  font-size: 22px;
}

.location button {
  background-color: #f39c12;
  float: right;
  padding: 15px 50px;
}

.team-section h2 {
  padding-bottom: 5%;
}

.team-section h4 {
  font-family: "Glancyr", serif;
}

.team-section p {
  font-size: 25px;
}

.team {
  padding-right: 20px;
  padding-bottom: 5%;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100px;
  gap: 5px;
}

.box {
  background: black;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.box2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.box3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.box4 {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
}

.box5 {
  grid-column: 6 / 7;
  grid-row: 1 / 3;
}

.box6 {
  grid-column: 7 /8;
  grid-row: 1 / 3;
}

.box7 {
  grid-column: 1 / 3;
  grid-row: 3 / 6;
}

.box8 {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}

.box9 {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}

.box10 {
  grid-column: 5 / 6;
  grid-row: 4 / 6;
}

.box11 {
  grid-column: 6 / 8;
  grid-row: 3 / 6;
}

/* testimonial */
.carousel-container {
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial {
  flex: 0 0 45%;
  text-align: center;
  background: #fff;
  margin: 2%;
  padding: 50px 60px;
  border-radius: 0px 30px;
  border-left: 10px solid #2ca9e1;
  border-right: 10px solid #2ca9e1;
}

.stars {
  color: gold;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.carousel-btn {
  position: absolute;
  top: 7%;
  transform: translateY(-50%);
  background: #004f4f;
  color: white;
  border: none;
  padding: 5px 13px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.footer {
  background-image: url(../images/web-image-bg-update.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.footer p {
  width: 80%;
}

.footer h2 {
  font-size: 35px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list ul {
  padding-left: 0px !important;
}

.list ul li {
  list-style: none;
  line-height: 35px;
}

.list a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.copyright {
  background-color: #000;
  color: #fff;
  padding: 25px 0;
}

.filesie span {
  float: right;
}

/* ---------- media quaries---------- */

@media screen and (max-width: 767px) {
  .hero-banner h1 {
    font-size: 40px;
  }

  .hero-banner p {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px !important;
  }

  .abt-sec h4 {
    margin-bottom: 10px;
  }

  .service-section button {
    float: left;
  }

  .service-carousel .item img {
    border-radius: 0px 30px 0px 0px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 4px;
  }

  .service-carousel .owl-theme .owl-nav.disabled+.owl-dots {
    bottom: 0;
  }

  .footer p {
    width: 100%;
  }

  .footer h2 {
    font-size: 30px;
  }

  .Copy-right {
    text-align: center !important;
  }

  .filesie {
    text-align: center !important;
  }

  .filesie span {
    float: none !important;
  }

  .copyright span {
    font-size: 14px;
  }

  .testimonial {
    flex: 0 0 100% !important;
    margin: 0px !important;
    padding: 20px 20px !important;
    border-left: 5px solid #2ca9e1 !important;
    border-right: 5px solid #2ca9e1 !important;
  }

  .location {
    padding-top: 50%;
  }

  .location p {
    font-size: 16px;
  }

  .location button {
    font-size: 15px;
    float: left;
    padding: 15px 30px;
  }

  .team-section p {
    font-size: 16px;
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    gap: 1px;
  }

  .box1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  .box2 {
    grid-area: 1 / 3 / 4 / 4;
  }

  .box3 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .box4 {
    grid-area: 3 / 1 / 6 / 2;
  }

  .box5 {
    grid-area: 3 / 2 / 5 / 3;
  }

  .box6 {
    grid-area: 4 / 3 / 6 / 4;
  }

  .box7 {
    grid-area: 5 / 2 / 8 / 3;
  }

  .box8 {
    grid-area: 6 / 1 / 8 / 2;
  }

  .box9 {
    grid-area: 8 / 1 / 10 / 2;
  }

  .box10 {
    grid-area: 8 / 2 / 10 / 3;
  }

  .box11 {
    grid-area: 6 / 3 / 10 / 4;
  }

  .abt-sec,
  .service-section,
  .team-section,
  .footer,
  .testimonials {
    padding: 5% 1%;
  }
}

/* why-us page */
.why-us-banner {
  background-image: url(../Img/why-us-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: end;
}

.abt-content {
  padding-top: 5%;
}

.abt-content .row {
  align-items: center;
  justify-content: space-between;
}

.abt-content img {
  border-radius: 0px 40px 0px 40px;
}

.icon-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: 20px;
}

.icon-box img {
  margin-top: 2px;
  width: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .why-us-banner {
    height: 300px;
  }

  .icon-box a,
  .icon-box span {
    font-size: 16px;
  }

  .icon-box img {
    margin-top: 3px;
    width: 20px;
    margin-right: 6px;
  }
}