p {
  font-size: 17px !important;
}

.general-dentistry-banner {
  background-image: url(../Img/service_banners/General-Dentistry.png);
}

.service-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.banner-padding {
  height: 500px;
}

.service-heading {
  display: flex;
  height: 100%;
  align-items: end;
}

.service-heading-strip {
  background-color: #fff;
  display: inline-block;
  padding: 10px 20px 0;
  border-radius: 0 40px 0 0;
}

.breadcrumb {
  gap: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: #3e1651;
}

#service-form {
  background-color: #ffffff36;
}

.mb-hidden {
  margin: 10% 15% 10%;
}

.service-banner::after {
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right,
      #612b7b 16.66%,
      #20448a 16.67%,
      #2ea8e3 32.33%,
      #49a949 50%,
      #fdcd1a 60%,
      #f39c12 70.66%,
      #e74c3c 85.7%);
}

.service-img {
  width: 100%;
}

.service-content,
.finance-content,
.contact-section {
  padding: 5% 0;
}

.lg-hidden {
  display: none;
}

.sidebar-container {
  display: flex;
  justify-content: flex-end;
}

.service-list p {
  margin-bottom: 25px;
  font-size: 18px !important;
  display: flex;
  align-items: flex-starts;
}

.service-list img {
  width: 25px;
  margin-right: 10px;
}

.testimonial {
  flex: 0 0 47% !important;
  margin: 15px !important;
  padding: 30px 20px !important;
  border-left: 6px solid #2ca9e1 !important;
  border-right: 6px solid #2ca9e1 !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel-btn {
  top: 94% !important;
}

.carousel-btn.right {
  left: 60px !important;
  right: auto !important;
}

p a {
  color: #3e1651;
}

/* finance-Options page */
.finance-banner {
  background-image: url(../Img/Finance_Bg.png);
}

background-position .finance-content .row {
  align-items: center;
  justify-content: space-between;
}

.finance-content img {
  width: 500px;
  border-radius: 40px;
}

.payment-options {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 35px 0px;
}

.payment-box {
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 25px;
  padding: 20px;
  box-shadow: 0px 0px 30px 0px #d0d0d0;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
}

.payment-box .img-box {
  background: #1f4489;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: all 0.3s ease;
}

.img-box i {
  color: #fff;
  font-size: 30px;
}

.payment-box:hover {
  box-shadow: 0px 0px 10px 0px #d0d0d0;
}

.payment-box:hover .img-box {
  background: #49a848;
}

/* AfterPAy offers */
.afterpay-banner {
  background-image: url(../Img/service_banners/Available_Afterpay.png);
}
.offer,
.discover {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.offer img {
  border-radius: 0px 40px 0px 40px;
}

.appointment-btn {
  background-color: #3e1651;
  color: #fff;
}

.discover {
  display: flex !important;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.discover img {
  width: 200px;
}

.discover iframe {
  border-radius: 40px;
  width: 80%;
}

.container-padding {
  padding: 5% 0;
}

/* ===========contact us =============*/
.contact-banner {
  background-image: url(../Img/contact_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.icon-box i {
  color: #1f4489;
  padding-top: 3px;
  margin-right: 8px;
}

.icon-box i:hover {
  color: #612b7b;
}

.icon-box a,
.icon-box span {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.icon-box:hover i,
.icon-box:hover a,
.icon-box:hover span {
  color: #612b7b;
}

#contact-form,
#service-form {
  margin-left: 60px;
  box-shadow: 0px 0px 4px 0px #4f4f4f;
  border-radius: 20px;
  padding: 40px 40px;
}

.form-row {
  margin-bottom: 15px;
}

label {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: #858585;
  outline: none;
  box-shadow: 0 0 4px rgba(220, 220, 220, 0.3);
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 6px;
  transform: scale(1.1);
  cursor: pointer;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
  margin-right: 20px;
  font-weight: 500;
}

small {
  color: #666;
}

button[type="submit"] {
  background-color: #f39c12;
  transition: background 0.3s ease;
}

.laser-dentistry-banner {
  background-image: url(../Img/service_banners/laser-dentistry.png);
}
.oral-hygiene-banner{
  background-image: url(../Img/service_banners/Oral-Hygiene.png);
}
.root-canal-banner{
  background-image: url(../Img/service_banners/Root-Canal.png);
}
.crown-bridge-banner{
  background-image: url(../Img/service_banners/Crown&Bridges.png);
}
.cosmetic-dentistry-banner{
  background-image: url(../Img/service_banners/Cosmetic-Dentistry.png);
}
.teeth-whitening-banner{
  background-image: url(../Img/service_banners/Teeth-Whitening.png);
}
.smile-makeover-banner{
  background-image: url(../Img/service_banners/Smile-Makeovers.png);
}
.sedation-dentistry-banner{
  background-image: url(../Img/service_banners/Sedation-Dentistry.png);
}
.clenching-grinding-banner{
  background-image: url(../Img/service_banners/Clenching&Grinding.png);
}
.composite-fillings-banner{
  background-image: url(../Img/service_banners/Composite-fillings.png);
}
.orthodontics-banner{
  background-image: url(../Img/service_banners/Orthodontics.png);
}
.dental-implants-banner{
  background-image: url(../Img/service_banners/Dental-Implants.png);
}
.kids-dentist-banner{
  background-image: url(../Img/service_banners/Child-Dentistry.png);
}
.invisalign-banner{
  background-image: url(../Img/service_banners/Invisalign.png);
}
.emergency-dentist-banner{
  background-image: url(../Img/service_banners/Emergency-Dental-Care.png);
}


/* ===============Media Quaries================= */
@media screen and (max-width: 767px) {
  .general-dentistry-banner {
    background-image: url(../Img/service_banners/general-dentistry-mb.png);
  }

  .laser-dentistry-banner {
    background-image: url(../Img/service_banners/LaserDentistry_mb.png);
  }
  .oral-hygiene-banner{
    background-image: url(../Img/service_banners/OralHygiene_mb.png);
  }

  .root-canal-banner{
    background-image: url(../Img/service_banners/RootCanal_mb.png);
  }

  .crown-bridge-banner{
    background-image: url(../Img/service_banners/Crown&Bridges_mb.png);
  }
  .cosmetic-dentistry-banner{
    background-image: url(../Img/service_banners/CosmeticDentistry_mb.png);
  }
  .teeth-whitening-banner{
    background-image: url(../Img/service_banners/TeethWhitening_mb.png);
  }
  .smile-makeover-banner{
    background-image: url(../Img/service_banners/SmileMakeovers_mb.png);
  }
  .sedation-dentistry-banner{
    background-image: url(../Img/service_banners/SedationDentistry_mb.png);
  }
  .clenching-grinding-banner{
    background-image: url(../Img/service_banners/Clenching&Grinding_mb.png);
  }
  .composite-fillings-banner{
    background-image: url(../Img/service_banners/Compositefillings__mb.png);
  }

  .orthodontics-banner{
    background-image: url(../Img/service_banners/Orthodontics_mb.png);
  }

  .dental-implants-banner{
    background-image: url(../Img/service_banners/DentalImplants_mb.png);
  }
  .kids-dentist-banner{
    background-image: url(../Img/service_banners/ChildDentistry_mb.png);
  }
  .invisalign-banner{
    background-image: url(../Img/service_banners/Invisalign_mb.png);
  }

  .emergency-dentist-banner{
    background-image: url(../Img/service_banners/Emergency_mb.png);
  }


  .service-content,
  .finance-content,
  .contact-section {
    padding: 5% 5% !important;
  }

  .sidebar-container {
    display: flex;
    justify-content: flex-start;
  }

  #sidebar {
    width: 100%;
    box-shadow: 0px 0px 5px 0px #ccc;
    border-radius: 10px;
    margin-top: 20px;
  }

  .mb-hidden {
    display: none;
  }

  .lg-hidden {
    display: block;
  }

  .service-banner {
    height: 300px;
  }

  .banner-padding {
    height: 300px;
  }

  #contact-form,
  #service-form {
    margin-left: 0px !important;
    padding: 30px 20px;
  }

  .service-form {
    margin: 25px 20px 0px;
  }

  .service-list img {
    width: 25px;
    height: 25px;
  }

  .testimonial {
    flex: 0 0 100% !important;
    padding: 10px !important;
    margin: 10px 0px !important;
  }
  .service-content iframe {
    width: 100% !important;
    height: 300px !important;
  }

  /* Contact Us */
  .contact-banner {
    background-image: url(../Img/Contact_mb__Bg.png);
    height: 300px;
  }

  /* Finance Options */
  .finance-banner {
    background-image: url(../Img/Finance_mb.png);
  }

  .finance-content img {
    width: 100% !important;
    border-radius: 40px;
  }

  .payment-options {
    gap: 15px !important;
  }

  .payment-box {
    width: 47%;
    gap: 10px;
    padding: 15px;
  }

  .payment-box .img-box {
    background: #1f4489;
    width: 50px;
    height: 50px;
  }

  .img-box i {
    font-size: 25px;
  }

  .payment-box p {
    font-size: 15px !important;
  }

  /*After pay  */
  .afterpay-banner{
    background-image: url(../Img/Afterpay_mb-bg.png);
  }
  .offer img {
    width: 100% !important;
  }

  .offer .appointment-btn {
    margin-bottom: 15px;
  }

  .container-padding {
    padding: 3% 1%;
  }

  .discover iframe {
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
}